body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #FF6F61;
}
header, footer {
  background-color: black;
  color: #FF6F61;
  text-align: center;
  padding: 1rem 0;
}
section {
  padding: 20px;
  margin: 10px auto;
  max-width: 800px;
  background: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2 {
  color: #36454F;
}
a {
  color: #0066cc;
}